@charset "UTF-8";


#root {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f0f0f0;
}

.content {
	margin-left: 300px;
	padding: 75px 25px 25px;
    background-color: #f0f0f0;
}

.wrapper {
	padding: 6rem 3rem;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(214,216,220,.3)
}

.content-buttons {
	text-align: end;
}

th {
	border-bottom: none!important;
}