@charset "UTF-8";

.sidebar {
	position: fixed;
    left: 0;
    height: 100%;
    width: auto;
    box-shadow: 0 2px 6px 0 rgba(214,216,220,.3);
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 900;
}

.sidebar-header {
	padding: 3rem;
	border-bottom: 1px #f0f0f0 solid;
}

.sidebar-logo {
    font-weight: 600;
    font-size: 16px;
    padding: 1rem;
    box-shadow: 0 2px 20px 1px rgba(214,216,220,.3);
    cursor: pointer;
    color: #000;
    text-decoration: none!important;
}

.menu {
	padding: 1.5rem 0;
}

.menu-item {
	cursor: pointer;
	width: 300px;
	padding: 1rem;
	display: block;
	text-decoration: none!important;
	border-left: #fff 5px solid;
	color: #000;
}

.menu-item .icon {
    margin-right: 1rem;
    width: 24px;
}

.menu-item.active {
	color: #007bff;
	background-color: #e6f2ff;
	border-left: #007bff 5px solid
}